{% extends "base.html" %} {% load static %} {% block page_title %}Igniting Culinary Creativity, One Recipe at a Time{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'app/css/index.css' %}">
{% endblock %}

{% block js_files %}
<script defer src="{% static 'app/js/index.js' %}"></script>
{% endblock %}


{% block content %}
   <div>
        <nav>
            <ul>
                <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div>

            {% if user.userprofilemodel.profile_picture %}
      <img src="{{ user.userprofilemodel.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture">
    {% else %}
      <p>No profile picture available</p>
    {% endif %}
<p> Welcome to Flavorly! </p>
{% endblock %}